In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('CA4-glassTrain.csv')

In [6]:
df.head()

   Unnamed: 0       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  type
0           0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1           1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2           2  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
3           3  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1
4           4  1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.0     1